<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>App Component</title>
</head>
<style>
  h1 {
    margin-left: 5%;
  }
.main{
  border: 1px solid black;
  width:1070px;
  height: 970px;
  margin-left: 5%;
}
.root{
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}


</style>

<body>
  <h1>Rate your Cakes</h1>
  <div class="main">
    <div class="root">
      <app-new></app-new>
    </div>

  </div>
</body>

</html>