<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Result</title>
</head>

<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Quotes</h1>
            <% for (var user of users) { %>
            <p>Name: <%= user.name%></p>
            <p>Quote: <%= user.quote%> </p>
            <% } %>

        </div>
    </div>
    <% if(messages.registration) { %>
    <% for (var x of messages.registration) { %>
    <h3><%= x %></h3>
    <% } %>
    <% } %>
</body>

</html>