<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add New</title>
</head>

<body>
    <div class="container">
        <h1>Edit a dog in the pack</h1>
        <form action='/process_edit/<%=doodle.id%>' method='post'>
            <div class="form-group">
                <label for="formGroupExampleInput">Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" name='name'>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Breed</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Breed" name='breed'>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Sex</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Sex" name='sex'>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Rank</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Rank" name='rank'>
                <p><input type='submit' value='Edit'></p>
                <p><button><a href="/">Go Back</a></button> </p>
            </div>
        </form>
</body>

</html>